lxml
aiohttp
cssselect
aiosocks
atq
flask
flask-paginate
flask-pymongo
flask-wtf
itsdangerous
jinja2
markupsafe
pymongo
werkzeug
wtforms
captcha
redis
rq
flask-login
dateutils
dramatiq
flask-script
flask-rq2
pycurl
beautifulsoup4
homura
gunicorn
requests
exifread
click
elasticsearch>=8.0.0,<9.0.0