[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

lxml = "*"
aiohttp = "*"
cssselect = "*"
aiosocks = "*"
atq = "*"
Flask = "*"
Flask-paginate = "*"
Flask-PyMongo = "*"
Flask-WTF = "*"
itsdangerous = "*"
"Jinja2" = "*"
MarkupSafe = "*"
pymongo = "*"
Werkzeug = "*"
WTForms = "*"
captcha = "*"
redis = "*"
rq = "*"
Flask-Login = "*"
dateutils = "*"
dramatiq = "*"
Flask-Script = "*"
"Flask-RQ2" = "*"
pycurl = "*"
"bs4" = "*"
homura = "*"
numpy = "*"


[dev-packages]

Sanic = "*"
motor = "*"


[requires]

python_version = "3.6"
