<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poopak</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css')}}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" >

<body>
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('search.index')}}">Poopak</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{{url_for('search.add_onion')}}">Add Onion</a></li>
            <li><a href="{{url_for('search.directory')}}">Directory</a></li>
        </ul>
        <div class="col-sm-3 col-md-3" style="margin-top: 10px;">
              <form role="form" method="POST" action="{{url_for('search.index')}}" enctype="multipart/form-data">
                <div class="input-group">
                    {{ search_form.csrf_token() }}
                    {{ search_form.phrase(class_="form-control")}}
                    <div class="input-group-btn">
                        {{search_form.submit(class_="btn btn-default")}}
                    </div>
                </div>
              </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('search.faq')}}">FAQ</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="container" >

     {% block body %}{% endblock %}

</div>

</body>
</html>
