{% extends "base.html" %}
{% block body %}

<!--<script src="{{url_for('static', filename='js/d3.v3.min.js')}}"></script>-->
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')}}" >

<script>
    $(function() {
        $( ".frmdtpick" ).datepicker();
    });
</script>

<script>
    $(function() {
        $( ".todtpick" ).datepicker();
    });
</script>


<div class="col-md-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for class, message in messages %}
                <div class="alert alert-{{class}} text-center fixed-top">
                    <i class="glyphicon glyphicon-check" ></i> &nbsp;
                    {{ message }}
                </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="col-md-3">
        <h3>
             <i class="glyphicon glyphicon-dashboard"></i>
            &nbsp;Dashboard
        </h3>
    </div>

</div>
<div class="dashboard col-md-12">

    <div class="col-md-3">
        <table class="table" style="font-weight: bold; border: 1px solid #ccc;">
            <thead>
                <tr>
                    <td>HTTP Status</td>
                    <td></td>
                </tr>
            </thead>
            {% for item in status_count %}
                <tr>
                    <td>
                        {{item.type}}
                    </td>
                    <td align="center">
                        {{item.count}}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-9">

        <form method="post" action="{{url_for('dashboard.dashboard')}}">
            {{ range_stats.hidden_tag() }}
            <table class="table">
                <tr>
                    <td>
                        From date
                    </td>
                    <td>
                        {{ range_stats.from_dt(class="frmdtpick text-center") }}
                    </td>
                    <td>To date</td>
                    <td>
                        {{ range_stats.to_dt(class="todtpick text-center") }}
                    </td>
                    <td>
                        {{ range_stats.submit(class="btn btn-info", style="width: 100px;")}}
                    </td>
                </tr>

            </table>
        </form>

        {% if time_series %}

        <table class="table">
            <tr class="active">
                <td class="text-center">
                    From &nbsp;{{range_stats.from_dt.data}}
                </td>
                <td class="text-center">
                    To &nbsp;{{range_stats.from_dt.data}}
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    Count
                </td>
            </tr>
            {% for item in time_series %}
            <tr>
                <td style="font-weight: bold;">{{item.type}}</td>
                <td style="font-weight: bold;">{{item.count}}</td>
            </tr>
            {% endfor %}

        </table>

        {% endif %}

    </div>
</div>


<div class="col-md-12 dashboard" style="margin-top: 15px;">
    <h4>
        <i class="glyphicon glyphicon-list"></i>Upload a seed
    </h4>
    <hr/>
    <div class="col-md-12">
        <form method="POST" enctype="multipart/form-data" action="{{url_for('dashboard.dashboard')}}">
            <table class="table table-bordered">
              <tr>
                <th>Upload your seed list or paste the list in the text area field.</th>
                <td>
                        {{multiple_urls_form.seed_file(class="form-control", style="height: auto;")}}
                </td>
              </tr>
              <tr>
                <th rowspan="2">
                        {{multiple_urls_form.urls(class="form-control", style="height: 140px;")}}
                </th>
                <td class="text-center" style="max-width: 300px;">
                    <table class="table">
                        <tr>
                            <td><b>EMAILS</b></td><td>{{multiple_urls_form.extract_emails(style="display:inline;")}}</td>
                            <td><b>BITCOIN ADDRESSES</b></td><td>{{multiple_urls_form.extract_btcaddr(style="display:inline;") }}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>PUBLIC PGP</b>
                            </td>
                            <td>
                                {{multiple_urls_form.extract_pub_pgp(style="display:inline;", disabled="disabled") }}
                            </td>
                      <td>
                        <b>EXIF Check</b>

                            </td>
                            <td>
                                {{multiple_urls_form.extract_pub_pgp(style="display:inline;", disabled="disabled") }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>PRIVATE PGP</b>
                            </td>
                            <td>
                                {{multiple_urls_form.extract_pub_pgp(style="display:inline;", disabled="disabled") }}
                            </td>
                        </tr>
                        <tr>

                        </tr>
                    </table>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                        {{multiple_urls_form.submit(class="btn btn-success")}}

                </td>
              </tr>
            </table>
            {{multiple_urls_form.csrf_token() }}
        </form>

    </div>
</div>

<div class="col-md-12 dashboard" style="margin-top: 15px;">
    <h5>
        <i class="glyphicon glyphicon-list"></i>&nbsp;Last LIVE onion page added
    </h5>
    <br/>
    <div>
        {% if last_200 %}
        <table class="table">
            <thead>
                <tr>
                    <td>
                        URL
                    </td>
                    <td>
                        Title
                    </td>
                    <td>
                        Body
                    </td>
                </tr>
            </thead>
            {% for item in last_200 %}
                <tr>
                    <td width="15%">
                        <i class="glyphicon glyphicon-check text-success"></i>&nbsp;
                        {{item.seen_time | datetimeformat}}</td>
                    <td width="25%"><a href="http://{{item.url}}" target="_blank">{{item.url}}</a></td>
                    <td width="40%">{{item.title}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <hr/>
    <h4>
        <i class="glyphicon glyphicon-list"></i>&nbsp;Last onion page added
    </h4>
    <br/>
    <div>
        {% if last_all %}
        <table class="table">
            {% for item in last_all %}
                <tr>
                    <td>{{item.seen_time | datetimeformat}}</td>
                    <td>{{item.url}}</td>
                    <td>{{item.title}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

</div>


{%endblock%}