{% extends "base.html" %}
{% block body %}


    <div class="col-md-12">

    <h3>What is this?</h3>
        <p>
             This is a hidden service link directory and also an always running crawler pool on Tor network.
        </p>
        <hr>
        <h3>
            Can I report abusers?
        </h3>
        <p>
            Sure.
        </p>
        <hr>
        <h3>
            How contact admin?
        </h3>
        <p>
            yolato[at]protonmail.com
        </p>



    </div>

{% endblock %}