<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deepweb.observer</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css')}}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" >

<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png')}}">

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for class, message in messages %}
                <div class="alert alert-{{class}} text-center fixed-top">
                    <i class="glyphicon glyphicon-check" ></i> &nbsp;
                    {{ message }}
                </div>
                {% endfor %}
        {% endif %}
    {% endwith %}

<div class="container" style="margin-top: 5%;">




    <div class="col-md-6 col-md-offset-3">
    

      <form role="form" method="POST" enctype="multipart/form-data">
            <!-- Search Field -->
        <div class="row">
                <h1 class="text-center">
                    <img src="{{ url_for('static', filename='images/poopak_logo.jpg')}}">
                    <br/>
                    deepweb.observer</h1>
                <h4 class="text-center">Hidden service link directory</h4>
                <br />
                {{ form.csrf_token }}
                <div class="form-group">
                    <div class="input-group">
                            {{ form.phrase(class_="form-control")}}
                            <!--<input class="form-control" type="text" name="search" placeholder="Search" required/>-->
                            <span class="input-group-btn">
                                <!--<button class="btn btn-success" type="submit">SEARCH</button>-->
                                {{form.submit(class_="btn btn-success")}}
                            </span>
                    </div>
                </div>
                <nav class="nav text-center">
                    <a href="{{url_for('search.directory')}}">
                        <i class="glyphicon glyphicon-list"></i>
                        Directory</a> |
                    <a href="{{url_for('search.add_onion')}}">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add Onion</a>
                    |
                    <a href="{{url_for('search.faq')}}">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        FAQ</a>
                    <!--<a href="">-->
                        <!--<i class="glyphicon glyphicon-envelope"></i>-->
                        <!--Contact</a>-->
                </nav>
                <br>
                <br>
                <table class="table">

                    <tr>
                        <td>All possible onions</td>
                        <td class="text-center">
                            <span>
                                1,208,925,819,614,629,174,706,176
                            </span>
                        </td>
                    </tr>
                    {% if alive_onions %}
                    <tr>
                        <td>Alive onion pages</td>
                        <td class="text-center"><strong>{{alive_onions}}</strong></td>
                    </tr>
                    {% endif %}
                    {% if offline_onions %}
                    <tr>
                        <td>Offline onions pages(503)</td>
                        <td class="text-center"><strong>{{offline_onions}}</strong></td>
                    </tr>
                    {% endif %}
                    {% if checked_onions %}
                    <tr>
                        <td>Checked onion pages</td>
                        <td class="text-center"><strong>{{checked_onions}}</strong></td>
                    </tr>
                    {% endif %}
                    {% if last_crawled %}
                    <tr>
                        <td>Last crawler running time</td>
                        <td class="text-center"><strong>{{last_crawled | datetimeformat}}</strong></td>
                    </tr>
                    {% endif %}
                </table>
            </div>

        <!-- End of Search Form -->
            </form>

    </div>



</div>



</body>
</html>
