{% extends "base.html" %}
{% block body %}

{% include 'dashboard/nav.html' %}

<style>
    .ds-btn li{ list-style:none; float:left; padding:10px; }
    .ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
    .ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
</style>

<div class="container" style="margin-top: 5%;">
    <div class="col-md-12">

      <h4 class="text-center">
        Total found {{all_count}}
      </h4>
        {% if results:%}
        <ul class="list-unstyled">
            {% for item in results: %}
            <li>
                {% if item.status == 200 %}

                <a href="{{ url_for('screenshots_path', filename=item.capture_id)}}" target="_blank">
                    <img src="{{ url_for('screenshots_path', filename=item.capture_id)}}" class="pull-left img-thumbnail col-md-2" style="margin: 10px;">
                </a>

                {% endif %}

                {% if item.title %}
                <a target="_blank" href="http://{{item.url}}">
                    <span class="highlight">{{item.title}}</span> &nbsp;

                </a>
                <a style="display: inline-block;" class="btn badge badge-danger" href="{{url_for('dashboard.hs_view', id=item._id) }}" >VIEW</a>

                <br/>
                {% endif %}
                <a target="_blank" href="http://{{item.url}}">{{item.url}}</a>
                <span class="badge badge-primary">{{item.seen_time | datetimeformat}}</span>
                <span style="display: inline-block;" class="badge">{{item.status}}</span>
                {% if item.body %}
                <p style="word-wrap: break-word;">
                    {{item.body | limitbody(256)}}
                </p>
                {% endif %}
                {% if item.links | length %}
                    <span class="badge badge-info">{{item.links | length}} Included links</span>
                {% endif %}
                <div class="clearfix"></div>
                <hr>
            </li>
            {% endfor %}
        </ul>

  <ul class=pagination>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        {% if is_all %}
        <li><a href="{{url_for('search.directory_all',page_number=page)}}">{{ page }}</a></li>
        {%else%}
        <li><a href="{{url_for('search.directory',page_number=page)}}">{{ page }}</a></li>
        {% endif %}
      {% else %}
        {% if is_all %}
        <li><a href="{{url_for('search.directory_all',page_number=page)}}"><strong>{{ page }}</strong></a></li>
        {%else%}
        <li><a href="{{url_for('search.directory',page_number=page)}}"><strong>{{ page }}</strong></a></li>
        {% endif %}
      {% endif %}
    {% else %}

    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
        {% if is_all %}
          <li><a href="{{url_for('search.directory_all', page_number=pagination.page + 1)}}">Next &raquo;</a></li>
        {% else %}
          <li><a href="{{url_for('search.directory', page_number=pagination.page + 1)}}">Next &raquo;</a></li>
        {% endif %}
  {% endif %}
  </ul>

  </div>

    {% endif %}
</div>

{% endblock %}