<div class="btn-group" role="group" aria-label="Admin Controllers">
  <a href="{{url_for('dashboard.dashboard')}}" class="btn btn-secondary">
      <i class="glyphicon glyphicon-adjust"></i>
      Dashboard</a>
  <a href="{{url_for('dashboard.upload_seed')}}" class="btn btn-secondary">
          <i class="glyphicon glyphicon-upload"></i>
          Upload Seed
  </a>
  <a href="{{url_for('scanner.scanner_overview')}}" class="btn btn-secondary">
      <i class="glyphicon glyphicon-screenshot"></i>
      Scanner
  </a>
  <a href="{{url_for('dashboard.hs_directory')}}" class="btn btn-secondary">
      <i class="glyphicon glyphicon-ok-circle"></i>
      Hidden Service Directory</a>
  <a href="{{url_for('dashboard.statistics')}}" class="btn btn-secondary">
      <i class="glyphicon glyphicon-stats"></i>
      Statistics</a>
  <a href="{{url_for('dashboard.settings')}}" class="btn btn-secondary">
      <i class="glyphicon glyphicon-list-alt"></i>
      Settings</a>

</div>